form.form-inline#searchFilterForm
	.row
		.col-md-10
			.row
				.col-md-12
					input.form-control(ng-model="storage.searchOptions.profileName",type='text',placeholder='Search by Name',name='inputProfile',id='inputProfile',style="padding: 0;margin-bottom: 3px;")
			.row 
				.col-md-6
					.form-group#profileTypeFilter
						.radio-inline(ng-repeat="option in profileTypes | filter: profileTypeFilter")
							input(name="{{option}}",
								type="radio",
								value="{{option}}",
								ng-model="storage.searchOptions.profileType") 
							| {{option}}
				.col-md-3(style="padding:0;")
					.form-group#genresFilter
						multiselect.input-xlarge(multiple="true",
							ng-if="getGenreList().length > 0",
							ng-model="storage.searchOptions.genres",
							options="genre.name for genre in getIndexedList(getGenreList()) | filter:$select.search",
							change="selected()",
							placeholder="Genres")
				.col-md-3(style="padding:0;")
					.form-group#subtypesFilter
						multiselect.input-xlarge(multiple="true",
							ng-if="getSubtypeList().length > 0", 
							ng-model="storage.searchOptions.profileSubtypes", 
							options="st.name for st in getIndexedList(getSubtypeList()) | filter:$select.search", 
							change="selected()", 
							placeholder="Subtypes")
		.col-md-2
			button.btn.btn-primary.btn-block#searchButton(type='submit', ng-click="submitSearch()"): span.fa.fa-search.fa-2x



